####################################### custom ##################################

# ignore eclipse files
.cproject
.settings
.project

# ipecmd.sh annoying leftovers
MPLAB*
log.0

# sdcc leftovers
*.adb
*.asm
*.cod
*.map
*.lst

####################################### git added C extensions #################################

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/pic_xc8/01-usbcdc-test.X/nbproject/private/
/pic_xc8/01-usbcdc-test.X/build/default/
/xc8_pic/00_example/nbproject/private/
/xc8_pic/00_example/build/default/
/xc8_pic/00_example/dist/default/