[submodule "pic/include/usbcdc"]
	path = pic/include/usbcdc
	url = git@github.com:Kamilcuk/PIC-USB-CDC
[submodule "xc8_pic/include/mla_usb"]
	path = xc8_pic/include/mla_usb
	url = https://github.com/MicrochipTech/mla_usb
	ignore = dirty
[submodule "xc8_pic/include/boost/preprocessor"]
	path = xc8_pic/include/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
